* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

ul {
  list-style: none;
  padding: 0;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding: 2rem;
  gap: 10px;
}

#product-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.text-center {
  text-align: center;
}
