/* Font Definitions */
.gothic-font {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fancy-font {
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
}

.geist-regular {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Styles */
body {
  font-family: "Geist", sans-serif;
}
