.gothic-font {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fancy-font {
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
}

.geist-regular {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Geist", sans-serif;
}

.main-header {
  display: flex;
  flex-direction: column;
}

.header-container {
  background-color: black;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.event-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.player-comparison {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.player-name {
  color: white;
  font-size: 10px;
}

.versus {
  font-size: 40px;
}

.player-text-logo {
  font-size: 40px;
}

#messi-logo {
  background: linear-gradient(180deg, #6cace4 40%, white 50%, #6cace4 70%);
  color: transparent;
  background-clip: text;
}

#ronaldo-logo {
  background: linear-gradient(90deg, #046a38 15%, #da291c 25%);
  color: transparent;
  background-clip: text;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.nav-container {
  background-color: #18181b;
  padding: 10px;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.nav-list li a {
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
